.table-header th {
  background-color: #2b4863 !important;
  color: #dae4ee !important;
}

.case-name {
  font-weight: bold;
}

.unable-to-locate {
  font-style: italic;
}

.not-listed {
  font-style: italic;
}

.link-text {
  text-decoration: none !important;
}


