.displayed-term-container {
  display: flex !important;
  width: 60% !important;
  justify-content: center !important;
}

.displayed-term-text {
  font-size: 1rem !important;
  font-style: italic !important;
  color: grey !important;
}