.search-container {
  width: 60% !important;
}

.search-btn {
  background-color: #e1863a  !important;
  color: white !important;
  border: 1px solid #f1a05e !important;
  width: 100%;
}

.search-btn:hover {
  background-color: #f1a05e !important;
  color: white !important;
  border: 1px solid #f1a05e !important;
}

.displayed-term-container {
  display: flex !important;
  width: 60% !important;
  justify-content: center !important;
}

.displayed-term-text {
  font-size: 1rem !important;
  font-style: italic !important;
  color: grey !important;
}

.visible-text {
  visibility: visible !important;
}

.hidden-text {
  visibility: hidden !important;
}